<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Mastery</title>

    <!--For prototyping or learning purposes, you can use the latest version with:-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!---->

    <!--ES Modules-->
    <!--<script type="module">-->
        <!--import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'-->
    <!--</script>-->
    <!---->

    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>

<div id="app">
{{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
<span v-if="seen">Now you see me </span>

</div>

<div id="app-4">
<ol>
    <li v-for="todo in todos">
        {{ todo.text }}
    </li>
</ol>
</div>

<div id="app-5">

    <p>
        {{ message }}
    </p>
<button v-on:click="reverseMessage"> Reverse Message</button>
</div>

<div id="app-6">
    <p> {{ message }}</p>
    <input v-model="message">
</div>

<div id="app-7">
    <!--<ol>-->
    <!--<todo-item></todo-item>-->
    <!--<todo-item></todo-item>-->
    <!--<todo-item></todo-item>-->
    <!--<todo-item></todo-item>-->
    <!--<todo-item></todo-item>-->
    <!--</ol>-->

    <ol>
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
        >
        </todo-item>
    </ol>
</div>

<div id="app-8">
    <p>{{foo}}</p>
    <button v-on:click="foo = 'bas'"> change it</button>
</div>

<div id="app-9">
    <p>{{msg}}</p>
    <button v:once>this will never change {{msg}}</button>
</div>

<div id="app-10">
    <p>{{rawHtml}}</p>
    <p><span v-html="rawHtml"></span></p>
</div>

<div id="app-11">
    <div v-bind:id="dynamicId">

    </div>
</div>

<div id="app-12">
    <input v-model="isButtonDisabled">
    <button v-bind:disabled="isButtonDisabled">
        disabled
    </button>
</div>

<div id="app-13">
    <p>Cautious: only one single expressions at a time</p>
    <p>
        javascript expressions {{number + 1}}
    </p>
    <p>
        javascript expressions {{message.split('').reverse().join('')}}

    </p>
    <p>javascript expressions {{ok ? 'YES' : 'NO' }}
    </p>
</div>

<div id="app-14">
    <a v-bind:href="url"> Dynamic URL</a>
</div>

<div id="app-15">
    <p>
        <a v-bind:[attributename]="url"> Dynamic URL</a>
    </p>
    <p>
        <a v-on:[ename]="doSomething">{{ ename + "me" }}</a>
    </p>
    <p>
        <!--<a v-on:[camelAttributeName]="doSomething">{{camelAttributeName}}</a>-->
    </p>

</div>
<div id="app-16">
    <form v-on:submit.prevent="onsubmit">
        <input>
        <button>Send</button>
    </form>
</div>

<div id="app-17">
    <p>
    <a :href="url">shorthanded v-bind</a>
    </p>
    <p>
    <a :[key]="url">shorthanded v-bind and dynamic argument attribute</a>
    </p>

    <p>
        <span id="click1" @click="dosomething">shorthanded v-on</span>
    </p>
    <p>
        <span id="click2" @[ename]="dosomething">shorthanded v-one and dynamic argument attribute</span>

</div>

<div id="app-18">
    <p>
        original message: <span>{{message}}</span>
    </p>

    <p>
        computed message: <span>{{computedmessage}}</span>
    </p>
</div>

<div id="app-19">
    <p>
        <span>
            <!--Watched {{fullName}}-->
            <input v-model="firstName"/>
            <input v-model="lastName"/>
        </span>
    </p>
    <p>
        <span>
            <!--Computed {{getFullName}}-->
            {{fullName}}
        </span>
    </p>
</div>

<div id="watch-example">
    <p>
        Ask a yes/no question:
        <input v-model="question">
    </p>
    <p>{{ answer }}</p>

</div>

<div id="classbindexample">
    <div class="static"
         v-bind:class="classdataobject"
    >
    </div>

    <div v-bind:class="computeddataobject"
    >
    </div>
    <div v-bind:class="[activeClass, errorClass]"
    >
    </div>
    <div v-bind:class="[isActive ? activeClass : '', hasError ? errorClass: '']"
    >
    </div>
    <div v-bind:class="[{ active: isActive},errorClass]"
    >
    </div>
</div>

<div id="reusecomponentapp">
    <my-component class="baz boo">

    </my-component>
</div>

<div id="inlinestyle">
    <p v-bind:style="{color: activeColor, fontSize: fontsize + 'px'}">
        Hello inline style
    </p>
    <p :style="styleObject">
        StyleObject
    </p>
    <p :style="[styleObject, overridingStyleObject]">
        Array Style Object Overriding
    </p>
    <p :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">
        vendor prefixed style
    </p>
</div>


<div id="conditionalrendering">
    <template v-if="ok">
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>
    </template>

    <template>
        <div v-if="getRandomValue > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>
    </template>

    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>

    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
    </template>
    <template v-else="loginType === 'email'">
        <label>Email</label>
        <input placeholder="Enter your email address">
    </template>
    <button @click="toggleLoginType">Toggle</button>


    <div>
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else="loginType === 'email'">
            <label>Email</label>
            <input placeholder="Enter your email" key="email-input">
        </template>
        <button @click="toggleLoginType">Toggle</button>
    </div>

    <div v-show="ok">
        V Show rendered and control CSS display attribute.
    </div>

</div>

<div id ="listrendering">

    <ul>
        <li v-for="item in items">
            {{ item.message}}
        </li>
    </ul>

    <ul>
        <li v-for="(item,index) in items">
            {{parentScopeProp}} - {{index}} - {{ item.message}}
        </li>
    </ul>

    <ol>
        <li v-for="(item,index) of items">
            {{parentScopeProp}} - {{index}} - {{ item.message}}
        </li>
    </ol>

    <ol>
        <li v-for="value in object">
            {{value}}
        </li>
    </ol>

    <ol>
        <li v-for="(value,name,index) in object">
            {{index}} - {{name}}: {{value}}
        </li>
    </ol>

    <div v-for="item in items" v-bind:key="item.id">
        {{item}}
    </div>
    <p>
        <button @click="pushitem">push</button>
        <button @click="popitem">pop</button>
        <button @click="shiftitem">shift</button>
        <button @click="unshiftitem">unshift</button>
        <button @click="sortitem">sort</button>
        <button @click="reverseitem">reverse</button>
        <button @click="spliceitem">splice 0:1</button>
        <button @click="replaceitem">replace without mutating</button>
        <button @click="changearray">caveat test to array change</button>
        <button @click="changearraylength">change array length</button>
        <button @click="vuesetitems">check reactivity</button>
        <button @click="vuesetitemsalias">alias check reactivity</button>
        <button @click="vmitemssplice">check splice reactivity</button>
        <button @click="vmitemssplicelength">check splice reactivity to length</button>
        <button @click="addnewproptonestedobject">set age to user profile</button>
        <button @click="objectassign">Object Assign</button>
        <button @click="objectassignaddreactivity">Object Assign and add reactivity</button>
    </p>

</div>

<div id="displayfilterdata">

    <ul>
        <li v-for="number of evenNumbers">
            {{ number }}
        </li>

    </ul>
    <ul v-for="set in sets">
        <li v-for="n in even(set)">
            {{n}}
        </li>
    </ul>

</div>

<script src="index.js"></script>
</body>
</html>